<div class="card">
    <div class="col-md-11">
      <p>
        <span style="font-size: 15px; font-family: Sans-Serif; color: red;"><%= message.user.nickname %>님</span> : <span style="font-family: Sans-Serif; font-size: 18px;"><%= message.message %></span><br>
        <%= message.timestamp %></span>
      </p>
    </div>
</div>